/* GENERAL */

body
{
margin:70px 0px;
font-family:"Lato", sans-serif;
background:#222f3e;
}
.divider
{
    width:100px;
    height:2px;
    background-color:white;
    margin: 0 auto;
}

/* HEADING */

.heading
{
    text-align:center;
    margin-bottom:60px;
}

.heading h2
{
    margin-top:20px;
    color:white;
    text-transform:uppercase;
    font-weight:bold;
}

/* FORMULAIRE */

#contact-form
{
    font-size:20px;
    background:#fff;
    padding: 40px;
    border-radius:10px;
}
.red
{
    color:#d82c2e;
}
.blue
{
    color:#3c6382;
    font-size:17px;
}
.form-control
{
    height:50px;
    font-size:18px;
}
.comment
{
    color:#d82c2e;
    font-style:italic;
    font-size:15px;
    height:25px;
}
#contact-form input[type=submit]
{
    margin: 40px auto 0;
    display:block;
}
.button1
{
    border: 1px solid grey;
    background:#3c6382;
    color:white;
    border-radius:5px;
    width:100%;
    font-weight:bold;
    text-transform:uppercase;
    padding:18px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover
{
    background:#333;
    border-color:white;
}
.thank-you
{
    text-align:center;
    margin-top:15px;
    font-weight:bold;
    font-size:22px;
}